## Pandas Üzerinde Zaman Serileri İşlemleri
* Pandas üzerinde 4 zaman konsepti bulunmaktadır.
    * Belli bir zaman (`TimeStamp`) tanımlamak için: `to_datetime()` veya `date_range()`
    * Zaman farkı (`TimeDelta`) tanımlamak için: `to_timedelta()` veya `timedelta_range()`
      * yaz saati uygulamaları için `DST` (Daylight Saving Time) dönemlerinde sorunlar olabilir. Dikkate almaz.
    * Tarih farkı (`DateOffset`) tanımlamak için: `DateOffset()` 
      Zamansal değişikleri otomaitik olarak hesaba katar.
    * Zaman aralığının kendisi (`Period`) tanımlamak için: `Period()` veya `period_range()`

In [1]:
import numpy as np
import pandas as pd
from datetime import date, datetime

### Zaman Damgası (Timestamps) Tanımlamak

#### Tek bir tarih oluşturmak

In [9]:
#metni tarih olarak tanımlayabiliriiz. datetime gibi
pd.Timestamp('2016-01-05') #iso formatı ile tarih oluşturduk
pd.Timestamp('2016-01-05 09:55:14') #tarih ve saat oluşturduk

#şuantki tarihi almak için
pd.Timestamp('now')
pd.Timestamp('today')
pd.Timestamp(datetime.now())

#
#zamanı parametre olarak vermek
pd.Timestamp(2016, 1, 5)
pd.Timestamp(year=2016, month=1, day=5)


#
bugun = pd.Timestamp('today')

bugun.year
bugun.month
bugun.day

#
bugun.time().hour

11

In [14]:
pd.to_datetime('2016-01-05')  #str ile tarih oluşturduk
pd.to_datetime(datetime.now()),

#
pd.to_datetime('10-06-2024', format='%d-%m-%Y') #format belirterek tarih oluşturduk

#
pd.to_datetime('10-06-2024', format='%d-%m-%Y').strftime("%A") #datetime modulundeki gibi

'Monday'

### `to_datetime `ekstra işlevleri

#### Orijin belirtmek
* belli bir tarihi baz alıp. o tairhden ileri geri tarihler üretebiliriz. Unit birim belirterek.

In [17]:
pd.to_datetime([0,1,2,3] , unit='D', origin=pd.Timestamp('2024-06-10')) #tarihleri oluşturduk

DatetimeIndex(['2024-06-10', '2024-06-11', '2024-06-12', '2024-06-13'], dtype='datetime64[ns]', freq=None)

#### Zaman Serisi Oluşturma ####
* DatetimeIndex indexler kullanılmak üzere bir alan. Bir tarih de indexlerde kullanılabilir. datetimeindex tipine dönüştürülebilir.

In [23]:
pd.to_datetime(['2024-06-10','2024-06-11','2024-06-12']) #listeden oluşturduk.

#
dti = pd.to_datetime(['2024-06-10',
                    np.datetime64('2024-06-11'),
                    datetime(2024, 6, 12),
                    ])

#
dti
dti.month
dti.day #broadcast özelliği

Index([10, 11, 12], dtype='int32')

In [24]:
pd.DatetimeIndex(['2024-06-10','2024-06-11','2024-06-12']) #index oluşturduk

DatetimeIndex(['2024-06-10', '2024-06-11', '2024-06-12'], dtype='datetime64[ns]', freq=None)

#### Zaman Aralığı Belirtmek

In [26]:
pd.date_range(start='2024-06-10', end='2024-06-15') #tarih aralığı oluşturduk freq='D' default
pd.date_range(start='2024-06-10', periods=5, freq='D') #tarih aralığı oluşturduk freq='D' default

DatetimeIndex(['2024-06-10', '2024-06-11', '2024-06-12', '2024-06-13',
               '2024-06-14'],
              dtype='datetime64[ns]', freq='D')

#### Zaman Dilimi Tanımlamak e DÖnüştürmek

In [29]:
#önce localize edip sonra convert ile farklı zaman dilimlerine çevirebiliriz
dti.tz_localize('UTC').tz_convert('Europe/Istanbul')

DatetimeIndex(['2024-06-10 03:00:00+03:00', '2024-06-11 03:00:00+03:00',
               '2024-06-12 03:00:00+03:00'],
              dtype='datetime64[ns, Europe/Istanbul]', freq=None)

#### Kolonlardan Tarih Üretme

In [38]:
dfTarihli = pd.DataFrame({
                        "year": [2024, 2025],
                        "month": [6, 7],
                        "day": [10, 11],
                        "hour": [9, 10]
                        })

#
#print(dfTarihli)

pd.to_datetime(dfTarihli) #dataframe içindeki tarihleri datetime objesine çevirdik
pd.to_datetime(dfTarihli.loc[:, ['year', 'month', 'day']]) #sadece belirli sütunları datetime objesine çevirdik

#
dfTarihli['tarih'] = pd.to_datetime(dfTarihli.loc[:, ['year', 'month', 'day','hour']])

#
dfTarihli

   year  month  day  hour               tarih
0  2024      6   10     9 2024-06-10 09:00:00
1  2025      7   11    10 2025-07-11 10:00:00

### Zaman Farkı Tanımlamak

#### Timedelta

In [40]:
pd.Timedelta('5 days 3 hours 12 minutes 30 seconds') #timedelta oluşturduk
pd.Timedelta(days=5, hours=3, minutes=12, seconds=30) #timedelta oluşturduk

Timedelta('5 days 03:12:30')

#### DateOffset

In [41]:
pd.DateOffset(days=5) #5 gün ekledik

#### Farkları zamana ekleyip çıkaralım

In [43]:
#zaman + zamnFarkı = zaman
pd.Timestamp('2024-06-10') + pd.Timedelta('5 days 3 hours 12 minutes 30 seconds') #timedelta toplama

Timestamp('2024-06-15 03:12:30')

#### Birden fazla zaman farkı

In [44]:
pd.timedelta_range(0, periods=9, freq='D') #timedelta aralığı oluşturduk

TimedeltaIndex(['0 days', '1 days', '2 days', '3 days', '4 days', '5 days',
                '6 days', '7 days', '8 days'],
               dtype='timedelta64[ns]', freq='D')

In [46]:
datetime.now() + pd.timedelta_range(0, periods=9, freq='D')

DatetimeIndex(['2024-06-10 11:45:37.336387', '2024-06-11 11:45:37.336387',
               '2024-06-12 11:45:37.336387', '2024-06-13 11:45:37.336387',
               '2024-06-14 11:45:37.336387', '2024-06-15 11:45:37.336387',
               '2024-06-16 11:45:37.336387', '2024-06-17 11:45:37.336387',
               '2024-06-18 11:45:37.336387'],
              dtype='datetime64[ns]', freq='D')

### Period Tanımlamak

#### Frekanslar Belirtmek

In [56]:
pd.Period('2024-06') #aylık periyot oluşturduk varsayılan freq='M'
pd.Period('2024-06', freq='W') #günlük periyot oluşturduk

#
haftalikPeriyot = pd.Period('2024-06', freq='W')
haftalikPeriyot.start_time
haftalikPeriyot.end_time

#
#frekansı sonradan değiştirmek
haftalikPeriyot.asfreq('H').end_time #frekansı değiştirdik

Timestamp('2024-06-02 23:59:59.999999999')

#### Offset Eklemek

In [60]:
p = pd.Period('2024-06-10 09:00', freq='H')
p = p + pd.offsets.Hour(3) #3 saat ekledik

#
p

Period('2024-06-10 12:00', 'H')

In [62]:
p = pd.Period('2024-10', freq='M') #5 ay ekledik
p = p+pd.offsets.MonthEnd(5) #5 ay ekledik

p

Period('2025-03', 'M')

### Frekans Değiştirmek ve Eksik Değerleri Doldurmak

In [65]:
ind = pd.date_range(start='2024-06-10',periods=5,freq='min') #5 dakikalık aralık oluşturduk
ts  = pd.Series(np.random.randn(len(ind)), index=ind) 
ts

2024-06-10 00:00:00   -0.511505
2024-06-10 00:01:00   -0.982133
2024-06-10 00:02:00   -0.288264
2024-06-10 00:03:00   -0.997051
2024-06-10 00:04:00   -0.611226
Freq: T, dtype: float64

In [75]:
ts.asfreq('30s') #30 sn'lik aralık oluşturduk #eksik veriler oluştu.

#
ts.asfreq('30s', method='ffill') #eksik veriyi bir önceki veri ile doldurduk
ts.asfreq('30s', method='bfill') #eksik veriyi bir sonraki veri ile doldurduk
ts.asfreq('30s', method='nearest') #eksik veriyi en yakın veri ile doldurduk

#fillna
ts.asfreq('30s').fillna(0) #method='ffill' eksik veriyi bir önceki veri ile doldurduk

2024-06-10 00:00:00   -0.511505
2024-06-10 00:00:30    0.000000
2024-06-10 00:01:00   -0.982133
2024-06-10 00:01:30    0.000000
2024-06-10 00:02:00   -0.288264
2024-06-10 00:02:30    0.000000
2024-06-10 00:03:00   -0.997051
2024-06-10 00:03:30    0.000000
2024-06-10 00:04:00   -0.611226
Freq: 30S, dtype: float64

### Period Olarak Görmek

In [77]:
ind = pd.date_range(start='2024-06-10',periods=90,freq='D') #90 günlük aralık oluşturduk
ts  = pd.Series(np.random.randn(len(ind)), index=ind)

In [82]:
#aylık periyoda çekelim
tsp = ts.to_period(freq = 'M') #aylık periyoda çevirdik. Aylar görünecek 2024-06 gibi

#aylık periyodun ortalamasını alalım
tsp.to_timestamp() #ayları tarih olarak gösterdik ayın 1. günü olarak gösterdik. yılı ve ayı kullanıp günü 1 olarak ayarladık
tsp.to_timestamp(how='end') #ayları tarih olarak gösterdik ayın son günü olarak gösterdik. yılı ve ayı kullanıp günü 1 olarak ayarladık
#periyodun end_time'ını almak için

2024-06-30 23:59:59.999999999   -1.094832
2024-06-30 23:59:59.999999999    0.780885
2024-06-30 23:59:59.999999999   -0.737344
2024-06-30 23:59:59.999999999   -2.034634
2024-06-30 23:59:59.999999999   -0.382227
                                   ...
2024-09-30 23:59:59.999999999   -0.522980
2024-09-30 23:59:59.999999999   -0.274258
2024-09-30 23:59:59.999999999    0.145207
2024-09-30 23:59:59.999999999   -0.215110
2024-09-30 23:59:59.999999999   -0.486702
Length: 90, dtype: float64

In [85]:
#50 günlük aralık oluşturduk
pd.date_range(start='2024-06-10', periods=50, freq='D') \
    .to_period(freq='M') \
    .unique() #aylık periyotları unique olarak aldık

PeriodIndex(['2024-06', '2024-07'], dtype='period[M]')

### Resample ile Zaman Bazlı Gruplama

In [95]:
ind=pd.date_range(start='2024-06-10', periods=50, freq='D')
ts = pd.Series(np.random.randn(len(ind)), index=ind)

#
#zamana göre gruplayalım
#ts.groupby(pd.Grouper(freq='M')).mean() #aylık ortalamaları aldık
ts.resample('M').mean()  #aylık ortalamaları aldık
ts.resample('M').mean().to_period('M') #aylık ortalamları aldık. Zamanı da ay bazlı periyoda çevirdik

ts.resample('M').agg(['mean', 'std']).to_period('M') #aylık ortalama ve standart sapmaları aldık #asfreq='M' ile sadece frekansı değiştirebiliriz

             mean       std
2024-06  0.050735  0.933931
2024-07  0.120779  0.912160

### Truncate ve Shift

In [101]:
#truncate ile belirli bir zaman aralığını alabiliriz
ind = pd.date_range(start='2024-06-10', periods=15, freq='D')
ts = pd.Series(np.random.randn(len(ind)), index=ind)

#
ts.truncate(before='2024-06-15', after='2024-06-20') #belirli bir zaman aralığını aldık

2024-06-15    0.138174
2024-06-16    0.805620
2024-06-17    1.029652
2024-06-18    1.704663
2024-06-19   -0.214751
2024-06-20   -1.284912
Freq: D, dtype: float64

In [102]:
ts.shift(2) #seriyi 2 birim kaydırdık.

2024-06-10         NaN
2024-06-11         NaN
2024-06-12    1.160553
2024-06-13    0.959078
2024-06-14    2.752241
2024-06-15   -1.288813
2024-06-16    0.607937
2024-06-17    0.138174
2024-06-18    0.805620
2024-06-19    1.029652
2024-06-20    1.704663
2024-06-21   -0.214751
2024-06-22   -1.284912
2024-06-23   -2.347489
2024-06-24    2.095972
Freq: D, dtype: float64

### `dt` alt modulu ile tarih ve saat işlemleri

In [126]:
#gün isimlerini aldık
#tarihlerle oldu bir dataFrame oluşturduk
df = pd.DataFrame({
    'Tarih': pd.date_range(start='2024-06-10', periods=5, freq='D'),
    'Deger': np.random.randint(0,100,5)
})

#
df

#
df.Tarih.dt.day_name() #gün isimlerini aldık
df.Tarih.dt.strftime('%A') #gün isimlerini aldık

0       Monday
1      Tuesday
2    Wednesday
3     Thursday
4       Friday
Name: Tarih, dtype: object

### `diff` ile bir önceki değerden farkı alabiliriz

In [127]:
df = df.set_index('Tarih')
df

            Deger
Tarih
2024-06-10     36
2024-06-11      6
2024-06-12     47
2024-06-13     48
2024-06-14     10

In [128]:
df["BirOncekiDegeriCikar"] = df.Deger.diff(1) #bir önceki değer ile farkı
df["İkiOncekiDegeriCikar"] = df.Deger.diff(2) #iki önceki değer ile farkı

df

            Deger  BirOncekiDegeriCikar  İkiOncekiDegeriCikar
Tarih
2024-06-10     36                   NaN                   NaN
2024-06-11      6                 -30.0                   NaN
2024-06-12     47                  41.0                  11.0
2024-06-13     48                   1.0                  42.0
2024-06-14     10                 -38.0                 -37.0